html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.gradient {
  background: #9A4438;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #9A4438;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  font-family: 'Fraunces', serif;
  color: #DBAE6B;
  -webkit-animation: fadeIn ease 3s;
          animation: fadeIn ease 3s;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  -webkit-animation: fadeIn ease 3s;
          animation: fadeIn ease 3s;
  font-family: 'Fraunces', serif;
  color: #DBAE6B;
}

@media screen and (max-width: 600px) {
  h2 {
    padding: 15px;
  }
}

h3 {
  font-size: 50px;
  margin: 5px;
}

.dashed {
  height: 2px;
  width: 50px;
  border: 1px solid #DBAE6B;
  margin: auto;
}

.dashed2 {
  height: 2px;
  width: 50px;
  color: white;
  margin: auto;
  border: 1px solid white;
}

h4 {
  font-size: 20px;
  color: #DBAE6B;
}

.ornament {
  max-width: 200px;
  padding: 0px 0px 20px 0px;
  margin: auto;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #291A21;
  /* Set a background color */
  color: #DBAE6B;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 20px 0px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: white;
  /* Add a dark-grey background on hover */
}

.hero {
  background: #9A4438;
}

.hero__h1 {
  font-size: 42px;
}

.hero__kontejner {
  max-width: 100%;
  overflow: hidden;
}

.hero__fotka {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__fotka:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.hero__sloupec2, .hero__sloupec {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% / 2) - 50px);
          flex: 0 0 calc((100% / 2) - 50px);
}

@media screen and (max-width: 600px) {
  .hero__kontejner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__sloupec2 {
    padding: 30px;
  }
  .hero__h1 {
    text-align: center;
    font-size: 42px;
  }
  .hero .line {
    margin: auto;
  }
  .hero__perex {
    font-size: 20px;
    text-align: center;
    padding: 0px 20px;
  }
  .hero__fotka:hover {
    -webkit-filter: none;
            filter: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .hero__kontejner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__sloupec2 {
    padding: 30px;
  }
  .hero__h1 {
    text-align: center;
    font-size: 50px;
  }
  .hero .line {
    margin: auto;
  }
  .hero__perex {
    font-size: 20px;
    text-align: center;
    padding: 0px 20px;
  }
  .hero__fotka {
    max-width: 80%;
  }
}

.button {
  background: transparent;
  color: white;
  text-decoration: none;
  font-family: 'Fraunces', serif;
  border-radius: 20px 0px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  margin: 30px 0px;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #DBAE6B;
  -webkit-transition: 1s;
  transition: 1s;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background: #DBAE6B;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button:focus {
  outline: 0px;
}

.obal {
  background: #9A4438;
}

.main {
  background-color: #291A21;
}

.main__headline {
  text-align: center;
  padding-top: 60px;
}

.main__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.main__buttoneffect {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.main__buttoneffect:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.main__item {
  padding: 30px;
}

.main__fotka {
  max-width: 100%;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .main__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main__buttonkolem {
  padding: 60px 15px;
  text-align: center;
}

.main2 {
  background-color: #9A4438;
}

.main2__headline {
  text-align: center;
  padding-top: 60px;
}

.main2__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.main2__buttoneffect {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.main2__buttoneffect:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.main2__item {
  padding: 30px;
}

.main2__fotka {
  max-width: 100%;
  padding-top: 30px;
}

.main2__formular {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 600px) {
  .main2__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main2__buttonkolem {
  padding: 60px 15px;
  text-align: center;
}

.main3 {
  background-color: #9A4438;
}

.main3__headline {
  text-align: center;
  padding-top: 60px;
}

.main3__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  max-width: 1400px;
  margin: auto;
  text-align: left;
}

.main3__buttoneffect {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.main3__buttoneffect:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.main3 ul.main3__list {
  list-style-type: circle;
}

.main3__item {
  padding: 30px;
}

.main3__fotka {
  max-width: 100%;
}

.main3__dashed {
  height: 2px;
  width: 50px;
  border: 1px solid #DBAE6B;
  margin-left: 0px;
}

.main3__link {
  text-decoration: none;
  color: #DBAE6B;
}

.main3__link:hover {
  color: #291A21;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .main3__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main3__item {
  text-align: center;
}

.main3__dashed {
  margin-left: auto;
}

.main3 .h2 {
  text-align: center;
}

.main3__buttonkolem {
  padding: 60px 15px;
  text-align: center;
}

.main4 {
  background-color: #9A4438;
}

.main4__headline {
  text-align: center;
  padding-top: 60px;
}

.main4__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  max-width: 1100px;
  margin: auto;
  text-align: left;
}

.main4__buttoneffect {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.main4__buttoneffect:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.main4 ul.main3__list {
  list-style-type: circle;
}

.main4__item {
  padding: 30px;
}

.main4__fotka {
  max-width: 100%;
}

.main4__dashed {
  height: 2px;
  width: 50px;
  border: 1px solid #DBAE6B;
  margin-left: 0px;
}

.main4__link {
  text-decoration: none;
  color: #DBAE6B;
}

.main4__link:hover {
  color: #291A21;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .main4__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main4__buttonkolem {
  padding: 60px 15px;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row__kontejner {
  padding: 30px 0px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.row__h4 {
  padding-top: 60px;
}

.row__video {
  max-width: 800%;
}

@media screen and (max-width: 600px) {
  .row__perex {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .row__perex {
    padding: 0px 30px;
  }
}

.row__h2 {
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
}

.row__ornament {
  max-width: 200px;
  padding: 30px 0px 50px 0px;
}

.row__video {
  padding-top: 50px;
}

.maindva {
  background-color: #9A4438;
}

.maindva__border {
  max-width: 900px;
  margin: auto;
}

.maindva__buttonkolem {
  padding: 70px 15px;
  text-align: center;
}

.maindva__table {
  border-collapse: collapse;
  width: 100%;
}

.maindva__buttonkolem {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.maindva__buttonkolem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.maindva th, .maindva td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DBAE6B;
}

.maindva tr:hover {
  background-color: #291A21;
}

.maindva__link {
  text-decoration: none;
  color: white;
}

.maindva__link:hover {
  color: #DBAE6B;
  font-weight: 400;
}

.maindva__section {
  max-width: 1100px;
  margin: 20px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 1fr 200px;
      grid-template-columns: 300px 1fr 1fr 200px;
  grid-gap: 20px 15px;
}

.maindva__item {
  border: 1px solid white;
}

.maindva__number {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #d3cc9e;
}

.maindva__h2 {
  text-align: center;
  padding: 30px 0px;
}

.maindva__blog {
  padding: 0px 30px;
}

@media screen and (max-width: 600px) {
  .maindva__border {
    margin: 50px 20px;
  }
  .maindva__section {
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .maindva__border {
    margin: 50px 20px;
  }
  .maindva__section {
    -ms-grid-columns: 50px 1fr 50px 1fr;
        grid-template-columns: 50px 1fr 50px 1fr;
  }
}

.oblasti {
  background-color: #9A4438;
  padding: 70px 0px;
}

.oblasti__border {
  border-color: #d3cc9e;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  max-width: 1100px;
  margin: auto;
}

.oblasti__buttonkolem {
  padding: 30px 15px;
  text-align: center;
}

.oblasti__section1 {
  max-width: 1100px;
  margin: 20px;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
      grid-template-columns: 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-gap: 50px 15px;
}

.oblasti__item--number {
  font-size: 30px;
  text-align: right;
  font-weight: bold;
  color: #d3cc9e;
}

.oblasti__h2 {
  text-align: center;
}

.oblasti__perex {
  text-align: center;
  padding: 30px 50px;
}

@media screen and (max-width: 600px) {
  .oblasti__border {
    margin: 50px 20px;
  }
  .oblasti__section1 {
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
  }
  .oblasti__perex {
    text-align: left;
    padding: 30px 50px;
  }
  .oblasti__buttonkolem {
    padding: 5px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .oblasti__section1 {
    -ms-grid-columns: 50px 1fr 50px 1fr;
        grid-template-columns: 50px 1fr 50px 1fr;
    grid-gap: 30px 15px;
  }
  .oblasti__border {
    margin: 50px 20px;
  }
}

.historie__border {
  max-width: 1100px;
  margin: auto;
  padding-bottom: 30px;
}

.historie__h2 {
  text-align: center;
  padding-top: 30px;
}

.historie__perex {
  text-align: center;
  padding: 30px 50px;
}

.historie__data {
  text-align: left;
  padding: 30px 50px;
  background-color: black;
}

.galerie__row, .galerie__row2 {
  padding: 30px 0px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.galerie__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  max-width: 1100px;
  margin: auto;
  gap: 5px;
}

.galerie__grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: auto;
  gap: 20px;
}

.galerie__ramecek {
  overflow: hidden;
}

.galerie__blog a {
  text-decoration: none;
  color: #DBAE6B;
}

.galerie__blog a:hover {
  color: #d3cc9e;
}

.galerie__blog a:active {
  color: #d3cc9e;
}

.galerie__item-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.galerie__obr {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galerie__obr:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media screen and (max-width: 600px) {
  .galerie__grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (300px)[4];
        grid-template-rows: repeat(4, 300px);
  }
  .galerie__grid2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .galerie__blog {
    padding: 5px;
  }
  .galerie__row, .galerie__row2 {
    padding: 30px 15px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .galerie__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (300px)[4];
        grid-template-rows: repeat(4, 300px);
  }
}

.faq {
  max-width: 1100px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.accordion {
  background-color: #9A4438;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.active, .accordion:hover {
  background-color: #291A21;
}

.panel {
  padding: 0 18px;
  background-color: #291A21;
  color: #DBAE6B;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  font-family: 'Roboto', sans-serif;
}

.sponzori {
  padding: 30px 0px;
  background-color: #DBAE6B;
}

.sponzori__row {
  padding-bottom: 30px;
  text-align: center;
  max-width: 1100px;
  margin: auto;
}

.sponzori__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 400px;
  margin: auto;
  padding-top: 30px;
}

i.fab {
  color: white;
  cursor: pointer;
}

i.fab:hover {
  color: #291A21;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  __grid {
    padding: 0px 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px;
  }
  __logo {
    max-width: 64px;
    padding: 30px;
  }
  h2 {
    margin: 0px 15px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  __grid {
    padding: 0px 20px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
  }
  __logo {
    max-width: 70%;
    padding: 30px;
  }
  h2 {
    margin: 0px 15px;
  }
}

.copyright {
  background-color: #DBAE6B;
  padding: 10px 0px;
  text-align: center;
}

.copyright__link {
  text-decoration: none;
  color: white;
}

.copyright__link:hover {
  color: #291A21;
  font-weight: 900;
}

.header__logo {
  padding: 15px;
  max-width: 200px;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.header__list {
  margin: 0;
  padding: 0;
  background-color: #291A21;
  list-style: none;
  display: none;
}

.header__item {
  border-bottom: 1px solid #DBAE6B;
  padding: 15px;
  text-align: center;
}

.header__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-family: 'Fraunces', serif;
  text-align: center;
  color: white;
}

.header__link:hover {
  color: #DBAE6B;
}

.menu__checkbox:checked ~ .header__list {
  display: block;
}

.menu__toggler {
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  right: 0px;
  padding: 15px;
}

.header__button--primary {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  background: #291A21;
}

.header__button--primary:hover {
  color: #DBAE6B;
  cursor: pointer;
}

.header__button--primary:focus {
  outline: 0px;
}

.header__kontejner {
  display: block;
  position: relative;
  background-color: #291A21;
}

.button {
  border: 0px;
  background-color: transparent;
}

@media screen and (min-width: 800px) {
  .menu__toggler {
    display: none;
  }
  .header__list {
    display: -webkit-box !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__item {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
  }
  .header__item:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
  }
  .header__item--active {
    color: #DBAE6B;
  }
  .header__link {
    padding: 0px;
    margin: auto;
  }
  .header {
    background-color: #291A21;
    /*
        &__button--primary {background: $button;
            color: black;
            text-decoration: none;
            font-family: 'Fraunces', serif;
            border-radius: 20px;
            padding: 10px 30px 10px 30px;
            text-align: center;
            margin: auto;
            font-weight: bold;
            font-size: 15px;
            border: 0px;}}
    
    
        .button:hover {
                background-position: right center;  
                cursor: pointer; 
                background-size:150%;
            color: black;}
                
         .button:focus {
                outline: 0px;
            }*/
  }
  .header__kontejner {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .header__logo {
    margin: 0px;
    padding-top: 15px;
  }
  .header__nav {
    margin: auto;
    text-align: right;
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__item {
    text-decoration: none;
    color: white;
    margin: auto 0px auto 50px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0px;
    padding: 0px;
  }
  .header__item:hover {
    color: #DBAE6B;
  }
  .button {
    background: transparent;
    color: white;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    border-radius: 20px 0px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    margin: 30px 0px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #DBAE6B;
    -webkit-transition: 1s;
    transition: 1s;
    text-transform: uppercase;
  }
  .button:hover {
    cursor: pointer;
    background: #DBAE6B;
    color: white;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .button:focus {
    outline: 0px;
  }
}
/*# sourceMappingURL=style.css.map */