.hero {background: $svetla;


    &__h1 {font-size: 42px;}



    &__kontejner {max-width: 100%; overflow: hidden;
}

    
    &__fotka {
    width: 100%;
    object-fit: cover;
    
}


&__fotka:hover {
    transform: scale(1.1);
    transition: transform 2s;

}



    &__sloupec2, &__sloupec  {
        flex: 0 0 calc((100% / 2) - 50px)}

    @media screen and (max-width: 600px) {

        &__kontejner {flex-direction: column;}
        
        &__sloupec2 {
        padding: 30px;}

        &__h1 {text-align: center;
        font-size: 42px;}

        .line {margin: auto;}

        &__perex {font-size: 20px;
        text-align: center;
        padding: 0px 20px;}

        &__fotka:hover {
            filter: none;
        }
    }
    
    
    @media screen and (min-width:601px) and (max-width: 1000px) {

        &__kontejner {flex-direction: column;
        justify-content: center;
    align-items: center;}
        
        &__sloupec2 {
        padding: 30px;}

        &__h1 {text-align: center;
        font-size: 50px;}

        .line {margin: auto;}

        &__perex {font-size: 20px;
        text-align: center;
        padding: 0px 20px;}

        &__fotka {max-width: 80%;}

       
    }


}



