

.obal {background: $svetla;

    
}

.main { background-color: $menu;

&__headline {text-align: center;
padding-top: 60px;}
&__headline2 {text-align: center; font-size: 22px;}
&__grid {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    
    }
    
&__buttoneffect {
    transform: scale(1);
    transition: all 0.3s ease-in-out 0.2s;}

&__buttoneffect:hover {    transform: scale(1.2);
        transition: all 0.3s ease-in-out 0.1s;}

&__item {padding: 30px;
}

&__fotka {max-width: 100%; padding-top: 30px;}

   
    @media screen and (max-width: 600px){
        &__grid {grid-template-columns: 1fr;
        }}
        
    
    &__buttonkolem {padding: 60px 15px;
        text-align: center;}


}


.main2 { background-color: $svetla;

    &__headline {text-align: center;
    padding-top: 60px;}
    &__grid {display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1400px;
        margin: auto;
        text-align: center;
        
        }
        
    &__buttoneffect {
        transform: scale(1);
        transition: all 0.3s ease-in-out 0.2s;}
    
    &__buttoneffect:hover {    transform: scale(1.2);
            transition: all 0.3s ease-in-out 0.1s;}
    
    &__item {padding: 30px;}
    
    &__fotka {max-width: 100%; padding-top: 30px;}

    &__formular {max-width: 100%; 

     }
    
       
        @media screen and (max-width: 600px){
            &__grid {grid-template-columns: 1fr;
            }}
            
        
        &__buttonkolem {padding: 60px 15px;
            text-align: center;}
    
       
    }




    .main3 { background-color: $svetla;

        &__headline {text-align: center;
        padding-top: 60px;}
        &__grid {display: grid;
            grid-template-columns: 1fr 2fr;
            max-width: 1400px;
            margin: auto;
            text-align: left;
            
            }
            
        &__buttoneffect {
            transform: scale(1);
            transition: all 0.3s ease-in-out 0.2s;}
        
        &__buttoneffect:hover {    transform: scale(1.2);
                transition: all 0.3s ease-in-out 0.1s;}
        
        ul.main3__list {
                    list-style-type: circle;
                  }
        &__item {padding: 30px;}
        
        &__fotka {max-width: 100%;}

        &__dashed {height: 2px; width: 50px; 
            border: 1px solid $zelena;
            margin-left: 0px;
                        
        }

        &__link {text-decoration: none; color: $zelena;}
        &__link:hover {color: $menu; font-weight: 900;}
        
           
            @media screen and (max-width: 600px){
                &__grid {grid-template-columns: 1fr;
                }}

                &__item {text-align: center;}

                &__dashed {
                    margin-left: auto;             
                }
                .h2 {text-align: center;}
            
            &__buttonkolem {padding: 60px 15px;
                text-align: center;}
        
           
        }




        .main4 { background-color: $svetla; 

            &__headline {text-align: center;
            padding-top: 60px;}
            &__grid {display: grid;
                grid-template-columns: 1fr 2fr;
                max-width: 1100px;
                margin: auto;
                text-align: left;
                
                }
                
            &__buttoneffect {
                transform: scale(1);
                transition: all 0.3s ease-in-out 0.2s;}
            
            &__buttoneffect:hover {    transform: scale(1.2);
                    transition: all 0.3s ease-in-out 0.1s;}
            
            ul.main3__list {
                        list-style-type: circle;
                      }
            &__item {padding: 30px;}
            
            &__fotka {max-width: 100%;}

            
    
            &__dashed {height: 2px; width: 50px; 
                border: 1px solid $zelena;
                margin-left: 0px;
                            
            }
    
            &__link {text-decoration: none; color: $zelena;}
            &__link:hover {color: $menu; font-weight: 900;}
            
               
                @media screen and (max-width: 600px){
                    &__grid {grid-template-columns: 1fr;
                    }}
                    
                
                &__buttonkolem {padding: 60px 15px;
                    text-align: center;}
            
               
            }
    
.row { display: flex; justify-content: center;
    
&__kontejner {padding: 30px 0px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    
    }

    &__h4 {padding: 60px 30px 0px 30px;}

    &__video {max-width: 900px;
    max-height: 600px;}

    @media screen and (max-width: 600px)
    {
    &__perex {padding: 0px 20px;}
    }

    @media screen and (min-width:601px) and (max-width: 1000px) {
        &__perex {padding: 0px 30px;}
    }

    &__h2 {max-width: 800px; margin: auto; padding-top: 30px;}

    &__ornament {max-width: 200px; padding: 30px 0px 50px 0px;}

    &__video {padding-top: 50px;}

}
    
.maindva {background-color: $svetla;  
    
    &__border {
        max-width: 900px;
        margin: auto;}


    &__buttonkolem {padding: 70px 15px;
    text-align: center;}

    &__table {
        border-collapse: collapse;
        max-width: 100%;
      }

       
      &__buttonkolem {
        transform: scale(1);
        transition: all 0.3s ease-in-out 0.2s;}
    
    &__buttonkolem:hover {    transform: scale(1.2);
            transition: all 0.3s ease-in-out 0.1s;}
    

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #DBAE6B;
      }

    tr:hover {background-color: $menu;}

    &__link  {text-decoration: none; color: white;}
    &__link:hover {color: $zelena; font-weight: 400;}


    &__section {
        max-width: 1100px;
        margin: 20px;
        text-align: center;
        display: grid;
        grid-template-columns: 300px 1fr 1fr 200px;
        grid-gap: 20px 15px;}
    
    &__item {border: 1px solid white;}
    
    &__number {font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: $bezova;}

    &__h2 {text-align: center;
    padding: 30px 0px;}

    &__blog {padding: 0px 30px;}

    @media screen and (max-width: 600px){
    &__border {margin: 50px 20px;}

    &__section {grid-template-columns: 50px 1fr;
    }

    }

    @media screen and (min-width:601px) and (max-width: 1000px) {
    
    &__border {margin: 50px 20px;}

    &__section {grid-template-columns: 50px 1fr 50px 1fr;
        }
    }



}





.oblasti {background-color: $svetla; padding: 70px 0px;
    
    &__border {border-color:$bezova;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        max-width: 1100px;
        margin: auto;
    }


    

    &__buttonkolem {padding: 30px 15px;
    text-align: center;}

    &__section1 {
        max-width: 1100px;
        margin: 20px;
        text-align: left;
        display: grid;
        grid-template-columns: 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
        grid-gap: 50px 15px;}
    
    &__item--number {font-size: 30px;
    text-align: right;
    font-weight: bold;
    color: $bezova;}

    &__h2 {text-align: center;}

    &__perex {text-align: center; padding: 30px 50px;}

    @media screen and (max-width: 600px){
        &__border {margin: 50px 20px;}

        &__section1 {grid-template-columns: 50px 1fr;}

        &__perex {text-align: left; padding: 30px 50px;}
        &__buttonkolem {padding: 5px;
        }}

    

    @media screen and (min-width:601px) and (max-width: 1000px) {
                
        &__section1 {
            
            grid-template-columns: 50px 1fr 50px 1fr;
            grid-gap: 30px 15px;}

        &__border {margin: 50px 20px;}

               
        }
 }

 .historie {
    &__border {
    max-width: 1100px;
    margin: auto;
    padding-bottom: 30px;}

    &__h2 {text-align: center;
    padding-top: 30px;}

    &__perex {text-align: center; padding: 30px 50px;}

    &__data {text-align: left; 
        padding: 30px 50px;
    background-color: black;}


}



.galerie {
    
    &__row, &__row2 {padding: 30px 0px;
        max-width: 1100px;
        margin: auto;
        text-align: center;
        }
    &__grid {display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        max-width: 1100px;
        margin: auto;
        gap: 5px;}
    
    &__grid2 {display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
        margin: auto;
        gap: 20px;}
    
    &__ramecek {overflow: hidden;}
    
    &__blog {a {text-decoration: none;
        color:$zelena;}
    
    a:hover {color: $bezova;}
    a:active {color: $bezova;}
    }
    &__item-image {width: 100%;
        height: 200px;
        object-fit: cover;}


    &__obr {width: 100%;
        height: 100%;
        object-fit: cover;}

    &__obr:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
   }    
    

        @media screen and (max-width: 600px){
            &__grid {grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 300px)}

            &__grid2 {display: grid;
               grid-template-columns: repeat(1, 1fr);}

            &__blog  {padding: 5px;}

            &__row, &__row2 {padding: 30px 15px;}
                
            }
    
        
    
        @media screen and (min-width:601px) and (max-width: 1000px) {
                    
            &__grid {grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 300px)}
                   
            }
}


.faq {max-width: 1100px
    ; position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
height: 100%;
padding-bottom: 50px;}

.accordion {
    background-color: $svetla;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: 1px solid $zelena;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }
  
  .active, .accordion:hover {
    background-color: $menu;
  }
  
  .panel {
    padding: 0 18px;
    background-color: $menu;
    color: $zelena;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Roboto', sans-serif;
  }