<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>


	<link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@800&family=Noto+Sans:wght@700&family=Roboto:wght@300;400;900&display=swap" rel="stylesheet"> 
    
    <script src="https://kit.fontawesome.com/7acbd2a12b.js" crossorigin="anonymous"></script>

</head>

<body>
<!-- HEADER -->
<header class="header">
    
    <div class="header__kontejner">
        

    <a href="/" class="header__logolink" ><img class="header__logo" src="/soubor/logofestivalw-w.png" alt="Logo"></a>

    
    <label for="menu-checkbox" class="menu__toggler">☰</label>
    <nav class="header__nav">

        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
	
		<ul class="header__list">

            <li class="header__item"> <a href="/artists/" class="header__link {% if menu === 'otaboru' %}header__item--active{% endif %}">Artists</a></li>
            <li class="header__item"><a href="/program/" class="header__link {% if menu === 'program' %}header__item--active{% endif %}" >Program</a></li>
            <li class="header__item"><a href="/shows/" class="header__link {% if menu === 'galerie' %}header__item--active{% endif %}" >Shows</a></li>
            <li class="header__item"><a href="/faq/" class="header__link {% if menu === 'postrehy' %}header__item--active{% endif %}" >FAQ</a></li>
            <li class="header__item"><a href="/application/" role="button" class="header__button--primary button">Application</a></li>
            </ul>

        </div>
    </nav>
    
</div>
</header>



<main class="obal">

    {{ content | safe }}


</main>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>



<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>


<SCRIPT LANGUAGE=JavaScript TYPE="text/javascript" SRC="//play.streamingvideoprovider.com/js/vapp.js" ></SCRIPT><SCRIPT LANGUAGE=JavaScript>var vapp = new VappController({use_div: "dplayer_flash_65nvilg4py4g", player_width: "720", player_height: "800"}, {clip_id: "3626104", player_id: "46DIIE2FICI3GGC", playlist_id: "2711", transparent: "1", uk: "9bb9a98393cd38856aa7821c7261140f", live_id: "65nvilg4py4g", sel_playlist: "", sel_multiplaylist: "", use_html5: "true", layout: "default", theme: "light", is_responsive: "1", is_inversed: "", is_vertical: "", one_thumb_per_row: "", thumbs_size: "medium", disable_hash: "", widget_height_behavior: "0", hide_playlist: "1", hide_live_chat: "", hide_description: "", playlist_position: "", chat_position: "", description_position: "", show_auto_play_next: "", auto_play_next: "", floating_player: "none"});</SCRIPT>
<SCRIPT LANGUAGE=JavaScript TYPE="text/javascript" SRC="//play.webvideocore.net/js/vapp.js" ></SCRIPT><SCRIPT LANGUAGE=JavaScript>var vapp = new VappController({use_div: "dplayer_flash_33h8fkam1qm8", player_width: "720", player_height: "800"}, {clip_id: "3626256", player_id: "46DIIE2FICI3GGC", playlist_id: "2711", transparent: "1", uk: "9bb9a98393cd38856aa7821c7261140f", live_id: "33h8fkam1qm8", sel_playlist: "", sel_multiplaylist: "", use_html5: "true", layout: "default", theme: "light", is_responsive: "1", is_inversed: "", is_vertical: "", one_thumb_per_row: "", thumbs_size: "medium", disable_hash: "", widget_height_behavior: "0", hide_playlist: "1", hide_live_chat: "", hide_description: "", playlist_position: "", chat_position: "", description_position: "", show_auto_play_next: "", auto_play_next: "", floating_player: "none"});</SCRIPT>
</body>

<footer class="footer">

    <section class="sponzori">
        <div class="sponzori__row">
            
            <h2 class="sponzori__h2>"><span style="color: white;">Get in touch with us!</span></h2>
            <div class="line"><hr class="dashed2"/></div>
            <section class="sponzori__grid">
                <div class="sponzori__social">

                <div class="sponzori__ikona"><a href="https://www.instagram.com/kanzamanfestival"><i class="fab fa-instagram fa-3x"></i></a></div>
            

                </div>

                <div class="sponzori__social">
                <div class="sponzori__ikona"><a href="https://www.youtube.com/channel/UCTjDkEedZetc4ZSeszG08Yw"><i class="fab fa-youtube fa-3x"></i></a></div>


                </div>


                <div class="sponzori__social">
                    <div class="sponzori__ikona"><a href="https://www.facebook.com/events/3285951734842055?acontext=%7B%22event_action_history%22%3A[%7B%22mechanism%22%3A%22search_results%22%2C%22surface%22%3A%22search%22%7D]%7D"><i class="fab fa-facebook-square fa-3x"></i></a></div>
                 </div>

            </section>
        </div>
    </section>

 

    <div class="copyright">
        <p class="copyright__perex">Copyright 
            © 2021, Kan Zaman team / <a class="copyright__link" href="www.badriyahbellydance.com">Badriyah</a>
             & <a class="copyright__link" href="www.hathordancestudio.com.au">Jrisi</a> & <a class="copyright__link" href="www.sheylaoriental.com">Sheyla</a></p>
    </div>

</footer>

</html>